/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* nav related styles */
.nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}
.g-colour{
    color: #FF42A5;
}
h1{
    margin-left: 20px;
}
.nav1{
    display: flex;
}
.nav1 > img{
    width: 86.041px;
    height: 40px;
    margin-top: 15px;
}
ul{
    list-style: none;
    display: flex;
    margin-top: 25px;
}
li{
    margin-right: 30px;
}
li > a{
    text-decoration: none;
    color: #3C354F;
}
.nav-follow-us{
    background-color: #cac8c8;
    margin-right: 20px;
    border-radius: 5px;
    width: 150px;
    height: 5px;
    padding: 10px 0px 20px 20px;
}

/* responsive for mobile view */

 /* nav responsive start */

@media screen and (max-width:400px) {
    .nav{
        flex-direction: column;
    }

    ul{
        
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        
    }

    .nav1 > img{
        align-items: center;
    }

    .nav1{
        justify-content: center;
    }
    li{
        margin-top: 10px;
    }

    .nav-follow-us{
        
        margin-top: 60px;
        height: 30px;
    }
/* nav responsive close */
}